HTML {
	MARGIN-BOTTOM: 1px; HEIGHT: 100.01%
}
.h2 {
	FONT: 12px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: capitalize; COLOR: #333366
}
.centeredheading {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN: 0px; TEXT-TRANSFORM: uppercase; COLOR: #993333; LINE-HEIGHT: 14px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.centeredblackheading {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN: 0px; TEXT-TRANSFORM: uppercase; COLOR: #000000; LINE-HEIGHT: 14px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.blackheading {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN: 10px; TEXT-TRANSFORM: uppercase; COLOR: #000000; LINE-HEIGHT: 14px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.blackheadingunderlined {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; MARGIN: 10px; TEXT-TRANSFORM: uppercase; COLOR: #000000; LINE-HEIGHT: 14px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.underlinedheading {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; MARGIN: 10px; COLOR: #000000; LINE-HEIGHT: 12px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.body2 {
	FONT: bold 10px/13px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #000033
}
.link {
	FONT: bold 12px Verdana, Arial, Helvetica, sans-serif; COLOR: #cc6600; TEXT-DECORATION: none
}
.phone {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.body {
	FONT: 10px/12px Verdana, Arial, Helvetica, sans-serif; COLOR: #000000
}
.bluebody {
	FONT: 10px/12px Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #6699cc; TEXT-ALIGN: center
}
.whitebody {
	FONT: 10px/12px Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center
}
.bodyunderline {
	FONT: 10px/12px Verdana, Arial, Helvetica, sans-serif; COLOR: #000000; TEXT-DECORATION: underline
}
.h3 {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; TEXT-TRANSFORM: uppercase; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-VARIANT: normal
}
.h5 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; TEXT-TRANSFORM: uppercase; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-VARIANT: normal
}
A:link {
	COLOR: #333366; TEXT-DECORATION: none
}
A:visited {
	COLOR: #cc6600; TEXT-DECORATION: none
}
A:hover {
	COLOR: #333366; TEXT-DECORATION: underline
}
.h4 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #993333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.menu {
	FONT: bolder 10px/12px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: uppercase; COLOR: #ffffff; TEXT-DECORATION: none
}
.header {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; TEXT-TRANSFORM: uppercase; COLOR: #993333; LINE-HEIGHT: 13px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.subcat1 {
	PADDING-RIGHT: 10px; BORDER-TOP: #ffffff 0px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 10px; BORDER-LEFT-COLOR: #ffffff; PADDING-BOTTOM: 3px; MARGIN: 0px; TEXT-TRANSFORM: uppercase; COLOR: #000000; LINE-HEIGHT: 13px; PADDING-TOP: 10px; BORDER-BOTTOM: #ffffff 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #6699cc; TEXT-ALIGN: right; BORDER-RIGHT-COLOR: #ffffff
}
.subcat2 {
	PADDING-RIGHT: 10px; BACKGROUND-POSITION: right 50%; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 10px; BORDER-LEFT-COLOR: #ffffff; PADDING-BOTTOM: 3px; MARGIN: 5px 0px; TEXT-TRANSFORM: uppercase; COLOR: #000000; LINE-HEIGHT: 13px; BORDER-BOTTOM: #ffffff 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #6699cc; TEXT-ALIGN: right; BORDER-RIGHT-COLOR: #ffffff
}
.tsgsubcat2 {
	PADDING-RIGHT: 10px; BACKGROUND-POSITION: right 50%; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 10px; BORDER-LEFT-COLOR: #ffffff; PADDING-BOTTOM: 3px; MARGIN: 5px 0px; TEXT-TRANSFORM: none; COLOR: #000000; LINE-HEIGHT: 13px; BORDER-BOTTOM: #ffffff 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #6699cc; TEXT-ALIGN: right; BORDER-RIGHT-COLOR: #ffffff
}
.subcat4 {
	PADDING-RIGHT: 10px; BACKGROUND-POSITION: right 50%; BORDER-TOP: #ffffff 1px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 10px; BORDER-LEFT-COLOR: #ffffff; PADDING-BOTTOM: 3px; MARGIN: 0px; TEXT-TRANSFORM: uppercase; COLOR: #000000; LINE-HEIGHT: 12px; PADDING-TOP: 2px; BORDER-BOTTOM: #ffffff 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: right; BORDER-RIGHT-COLOR: #ffffff
}
.subcat3 {
	PADDING-RIGHT: 10px; BACKGROUND-POSITION: right 50%; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 10px; BORDER-LEFT-COLOR: #ffffff; BORDER-BOTTOM-COLOR: #ffffff; PADDING-BOTTOM: 3px; MARGIN: 0px; TEXT-TRANSFORM: none; COLOR: #000000; BORDER-TOP-COLOR: #ffffff; LINE-HEIGHT: 14px; PADDING-TOP: 2px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; LETTER-SPACING: 1pt; BACKGROUND-COLOR: #6699cc; BORDER-RIGHT-COLOR: #ffffff
}
.leftmenu {
	MARGIN: 7px 10px; FONT: bold 10px/12px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: uppercase; COLOR: #ffffff; TEXT-ALIGN: right; TEXT-DECORATION: none
}
.tsgleftmenu {
	MARGIN: 7px 10px; FONT: bold 10px/12px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #ffffff; TEXT-ALIGN: right; TEXT-DECORATION: none
}
.rightmenu {
	MARGIN: 10px 5px 5px 10px; FONT: bold 10px/12px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: uppercase; COLOR: #ffffff; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.lfhighlighthead {
	BORDER-RIGHT: #ffffff 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BORDER-LEFT-COLOR: #ffffff; PADDING-BOTTOM: 5px; COLOR: #000000; BORDER-TOP-COLOR: #ffffff; PADDING-TOP: 5px; BORDER-BOTTOM: #ffffff 2px solid; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: center; FONT-VARIANT: normal; TEXT-DECORATION: none
}
.midhighlighthead {
	BORDER-RIGHT: #ffffff 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; BORDER-LEFT: #ffffff 1px solid; COLOR: #000000; BORDER-TOP-COLOR: #ffffff; PADDING-TOP: 5px; BORDER-BOTTOM: #ffffff 2px solid; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: center; FONT-VARIANT: normal; TEXT-DECORATION: none
}
.rthighlighthead {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; BORDER-LEFT: #ffffff 1px solid; COLOR: #000000; BORDER-TOP-COLOR: #ffffff; PADDING-TOP: 5px; BORDER-BOTTOM: #ffffff 2px solid; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: center; FONT-VARIANT: normal; TEXT-DECORATION: none; BORDER-RIGHT-COLOR: #ffffff
}
.lfhighlightbody {
	BORDER-RIGHT: #ffffff 1px solid; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BORDER-LEFT-COLOR: #ffffff; BORDER-BOTTOM-COLOR: #ffffff; PADDING-BOTTOM: 10px; FONT: 10px/12px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #000000; BORDER-TOP-COLOR: #ffffff; PADDING-TOP: 3px; TEXT-DECORATION: none; BORDER-BOTTOM-STYLE: none
}
.midhighlightbody {
	BORDER-RIGHT: #ffffff 1px solid; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BORDER-BOTTOM-COLOR: #ffffff; PADDING-BOTTOM: 10px; FONT: 10px/12px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; BORDER-LEFT: #ffffff 1px solid; COLOR: #000000; BORDER-TOP-COLOR: #ffffff; PADDING-TOP: 3px; TEXT-DECORATION: none
}
.rthighlightbody {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BORDER-BOTTOM-COLOR: #ffffff; PADDING-BOTTOM: 10px; FONT: 10px/12px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; BORDER-LEFT: #ffffff 1px solid; COLOR: #000000; BORDER-TOP-COLOR: #ffffff; PADDING-TOP: 3px; TEXT-DECORATION: none; BORDER-RIGHT-COLOR: #ffffff
}
.featurebody {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; MARGIN: 10px; COLOR: #000000; LINE-HEIGHT: 14px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.featurebody2 {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; MARGIN: 10px; COLOR: #000000; LINE-HEIGHT: 12px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.whiterighttext {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; MARGIN: 10px; COLOR: #ffffff; LINE-HEIGHT: 12px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.whiterighttext {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; MARGIN: 10px; COLOR: #ffffff; LINE-HEIGHT: 12px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.featurebody3 {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; MARGIN: 10px; COLOR: #000000; LINE-HEIGHT: 14px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.featurelist3 {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; MARGIN: 0px 0px 0px 10px; COLOR: #000000; LINE-HEIGHT: 14px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.divider {
	CLEAR: both
}
.columns3 {
	DISPLAY: inline; FLOAT: left; MARGIN: 1%; WIDTH: 30%; BACKGROUND-COLOR: #ffffcc
}
DIV#bodytext {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000000; LINE-HEIGHT: 14px; PADDING-TOP: 0px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: left; TEXT-DECORATION: none
}
DIV#bodytext DD {
	PADDING-LEFT: 1em
}
DIV#bodytext P {
	MARGIN: 10px
}
SPAN {
	MARGIN: 10px
}
DIV#bodytext P.indented {
	MARGIN-LEFT: 3em
}
DIV#bodytext SPAN.smalltext {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: smaller; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DIV#bodytext SPAN.underlined {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-DECORATION: underline
}
DIV#bodytext SPAN.bolded {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DIV#bodytext .emph {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DIV#bodytext SPAN.bold_italic {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-STYLE: italic
}
DIV#bodytext H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN: 10px; TEXT-TRANSFORM: uppercase; COLOR: #993333; LINE-HEIGHT: 14px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
DIV#bodytext H1.centered {
	TEXT-ALIGN: center
}
DIV#bodytext H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; MARGIN: 10px; COLOR: #000000; LINE-HEIGHT: 14px; PADDING-TOP: 0px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
DIV#bodytext H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 10px; COLOR: #000000; LINE-HEIGHT: 14px; PADDING-TOP: 0px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
DIV#bodytext H3.centered {
	TEXT-ALIGN: center
}
DIV#bodytext H3.blackunderlined {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 10px; TEXT-TRANSFORM: uppercase; COLOR: #000000; LINE-HEIGHT: 14px; PADDING-TOP: 0px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
DIV#bodytext H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 10px; COLOR: #000000; LINE-HEIGHT: 14px; PADDING-TOP: 0px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
DIV#bodytext H4.centered {
	TEXT-ALIGN: center
}
DIV#bodytext UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DIV#bodytext OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DIV#bodytext LI {
	PADDING-RIGHT: 0.4em; PADDING-LEFT: 0.4em; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0.4em; MARGIN-LEFT: 5em; COLOR: #000000; LINE-HEIGHT: 14px; PADDING-TOP: 0.4em; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
DIV#bodytext LI.nestedlist {
	PADDING-RIGHT: 0.4em; PADDING-LEFT: 0.4em; PADDING-BOTTOM: 0.4em; MARGIN-LEFT: 6em; PADDING-TOP: 0.4em
}
DIV#bodytext LI.featurelist3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 4em; PADDING-TOP: 0px
}
DIV#bodytext LI.featurelist3nested {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 6em; PADDING-TOP: 0px
}
DIV#bodytext .doctable {
	BORDER-RIGHT: solid; PADDING-RIGHT: 0.5em; BORDER-TOP: solid; PADDING-LEFT: 0.5em; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0.5em; MARGIN: 0px; BORDER-LEFT: solid; COLOR: #000000; LINE-HEIGHT: 14px; PADDING-TOP: 0.5em; BORDER-BOTTOM: solid; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
DIV#bodytext P.noindent {
	PADDING-RIGHT: 0.1em; PADDING-LEFT: 0.1em; PADDING-BOTTOM: 0.1em; MARGIN: 0.1em; PADDING-TOP: 0.1em
}
DIV#bodytext .flowchart {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 14px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffcc; TEXT-DECORATION: none
}
DIV#bodytext .details {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 1em; MARGIN: 0px 0px 0px 2em; PADDING-TOP: 0px
}
DIV#gallery {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000000; LINE-HEIGHT: 14px; PADDING-TOP: 0px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: left; TEXT-DECORATION: none
}
DIV#gallery H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN: 10px; TEXT-TRANSFORM: uppercase; COLOR: #993333; LINE-HEIGHT: 14px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
DIV#gallery H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; MARGIN: 10px; COLOR: #000000; LINE-HEIGHT: 14px; PADDING-TOP: 0px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
DIV#gallery A:link {
	COLOR: #333366; TEXT-DECORATION: underline
}
DIV#gallery A:visited {
	COLOR: #cc6600; TEXT-DECORATION: underline
}
DIV#gallery A:hover {
	COLOR: #cc6600; TEXT-DECORATION: underline
}
DIV#gallery P {
	MARGIN-LEFT: 2em
}
DIV#gallery LI {
	MARGIN: 0px 0px 0px 4em
}
DIV#gallery .heading {
	MARGIN-LEFT: 3em
}
DIV#gallery .details {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 1em; MARGIN: 0px 0px 0px 4em; PADDING-TOP: 0px
}
DIV#gallery .divider {
	PADDING-RIGHT: 0.3em; PADDING-LEFT: 0.3em; PADDING-BOTTOM: 0.3em; PADDING-TOP: 0.3em; BORDER-BOTTOM: #333366 1px solid
}
DIV#gallery .modified {
	PADDING-RIGHT: 0.1em; PADDING-LEFT: 0.1em; FONT-WEIGHT: normal; FONT-SIZE: 10px; MARGIN-BOTTOM: 0.2em; PADDING-BOTTOM: 0.1em; MARGIN-LEFT: 0.2em; COLOR: #000000; LINE-HEIGHT: 12px; PADDING-TOP: 0.1em; FONT-STYLE: normal; FONT-VARIANT: normal
}
DIV#faq {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000000; LINE-HEIGHT: 14px; PADDING-TOP: 0px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: left; TEXT-DECORATION: none
}
DIV#faq H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN: 10px; TEXT-TRANSFORM: uppercase; COLOR: #993333; LINE-HEIGHT: 14px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
DIV#faq H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; MARGIN: 10px; COLOR: #000000; LINE-HEIGHT: 14px; PADDING-TOP: 0px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
DIV#faq H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 2em; COLOR: #000000; LINE-HEIGHT: 14px; PADDING-TOP: 0px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
DIV#faq P {
	MARGIN-LEFT: 3em
}
.featurelistfront {
	PADDING-LEFT: 2px; FONT-WEIGHT: normal; FONT-SIZE: 10px; MARGIN-LEFT: 5px; COLOR: #000000; LINE-HEIGHT: 13px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.featurebody3underline {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; MARGIN: 10px; COLOR: #000000; LINE-HEIGHT: 14px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.featurebody3italics {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; MARGIN: 10px; COLOR: #000000; LINE-HEIGHT: 14px; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.italicsnomargin {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; MARGIN: 0px; COLOR: #000000; LINE-HEIGHT: 14px; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.featurebody4 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; MARGIN: 10px; COLOR: #000000; LINE-HEIGHT: 12px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.featurebody4underline {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; MARGIN: 10px; COLOR: #000000; LINE-HEIGHT: 12px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.featurebody5 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN: 10px; COLOR: #000000; LINE-HEIGHT: 14px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.featurebody6 {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; MARGIN: 5px; COLOR: #000000; LINE-HEIGHT: 14px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.normal12point {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; MARGIN: 10px; COLOR: #000000; LINE-HEIGHT: 14px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.featurebody7 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; MARGIN: 2px; COLOR: #000000; LINE-HEIGHT: 12px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.featurebody8 {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; MARGIN: 2px; COLOR: #000000; LINE-HEIGHT: 12px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.featurehead {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN: 10px; TEXT-TRANSFORM: uppercase; COLOR: #993333; LINE-HEIGHT: 14px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.directoryhead {
	MARGIN-BOTTOM: 0px
}
.quotebody {
	PADDING-RIGHT: 3px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-VARIANT: normal; TEXT-DECORATION: none
}
.homearticle {
	PADDING-RIGHT: 3px; PADDING-LEFT: 10px; FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-VARIANT: normal; TEXT-DECORATION: none
}
.quoteauthor {
	PADDING-RIGHT: 5px; FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: right; FONT-VARIANT: normal
}
.rtsidepic {
	max-width: 120px
}
IMG.leftfloat {
	PADDING-RIGHT: 1%; PADDING-LEFT: 1%; FLOAT: left; PADDING-BOTTOM: 1%; PADDING-TOP: 1%
}
IMG.rightfloat {
	PADDING-RIGHT: 1%; PADDING-LEFT: 1%; FLOAT: right; PADDING-BOTTOM: 1%; PADDING-TOP: 1%
}
.faqquestion {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN: 10px; COLOR: #993333; LINE-HEIGHT: 14px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.faqanswer {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; MARGIN: 10px; COLOR: #000000; LINE-HEIGHT: 12px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: center; TEXT-DECORATION: none
}
